@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*
{
    color: #FFF;
    background: linear-gradient(45deg, #0b16e8, #040b8d) repeat center center fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container
{
    position: absolute;
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content
{
    align-items: center;
    justify-content: center;
}
.links
{
    /* align the .links div to the center */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.links a
{
    margin: 0 10px;
    font-size: 1.5rem;
    color: #FFF;
    background: #00000000;
    text-decoration: none;
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.links a:hover
{
    color: #00FF00;
    transform: scale(1.1);
}
.links a:focus
{
    outline: none;
    color: #FFF;
    transform: scale(0.9);
}
.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}